html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 808px;

  div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: pink;
      transform: translate( 0, -20px);
      cursor: pointer;
    }

  }
  @for $i from 1 through 31 {
    & {
      div:nth-child(#{$i})::after {
        content: "#{$i}";
      }
    }
  }
  @for $i from 28 through 30 {
    &-#{$i} {
      div:nth-child(#{$i}) ~ div {
        visibility: hidden;
      }
    }
  }
}

$days: (
  1: "mon",
  2: "tue",
  3: "wed",
  4: "thu",
  5: "fri",
  6: "sat",
  7: "sun"
);

@each $i, $day in $days {
  .calendar-#{$day} {
    div:first-child {
      margin-left: (100px + 1px) * $i - (100px - 1px);
    }
  }
}
