$size: 100px;
$space: 1px;

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: ($size + $space) * 7;

  & > div {
    box-sizing: border-box;
    width: $size;
    height: $size;
    background-color: #eee;
    border: 1px solid black;
    margin: 0 $space $space 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s ease;

    &:hover {
      background-color: pink;
      transform: translate( 0, -20px);
      cursor: pointer;
    }
  }
}

@for $i from 1 through 31 {
  .calendar {
    div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} {
    div:nth-child(#{$i}) ~ div {
      display: none;
    }
  }
}

$days: (
  1: "mon",
  2: "tue",
  3: "wed",
  4: "thu",
  5: "fri",
  6: "sat",
  7: "sun"
);

@each $i, $day in $days {
  .calendar-#{$day} {
    div:first-child {
      margin-left: ($size + $space) * $i - ($size + $space);
    }
  }
}
